/*

*/

@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
[class*="col-"].gris {
    background-color: grey;
    border:solid 1px white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}



.taille{
    width: 15px;
}

.wide {
    width:100%;
    height:100px;
    background-image:url('../resources/thunder2.jpg');
    background-size:auto;
}

.wide img {
    width:100%;
}

body,html {
    height: 100%;
}

body {
    padding-top: 50px;
}

.logo {
    color:#fff;
    font-weight:800;
    font-size:12pt;
    padding:25px;
    text-align:center;
}

.line {
    padding-top:20px;
    white-space:no-wrap;
    overflow:hidden;
    text-align:center;
}

.readingmore {
  max-height: 30px;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
.divform{
    background-color:#F0E68C;
}

.fondColor {
    background-color:#E6E6FA;
}
.questionStyle {
    border-style :solid;
    background-color:#FFEBCD;
}
.titreQuestion {
    font-weight: bold;    
}
.ajout_bouton {
    display: block;
    margin:auto;
}
.radio{
    display:inline-block;
    vertical-align:middle;
    margin:0;
}
.tailledec{
    width: 10px;
}
.tailleQuestion{
    width: 40px;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
.fiftycent {
   width: 42%; 
}
