/*

*/

@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
[class*="col-"].gris {
    background-color: grey;
    border:solid 1px white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}



.taille{
    width: 15px;
}

.wide {
    width:100%;
    height:100px;
    background-image:url('../resources/thunder2.jpg');
    background-size:auto;
}

.wide img {
    width:100%;
}

body,html {
    height: 100%;
}

body {
    padding-top: 50px;
}

.logo {
    color:#fff;
    font-weight:800;
    font-size:12pt;
    padding:25px;
    text-align:center;
}

.line {
    padding-top:20px;
    white-space:no-wrap;
    overflow:hidden;
    text-align:center;
}

.readingmore {
  max-height: 30px;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
.divform{
    background-color:#F0E68C;
}

.fondColor {
    background-color:#E6E6FA;
}
.questionStyle {
    border-style :solid;
    background-color:#FFEBCD;
    border-radius:10px;
}
.titreQuestion {
    font-weight: bold;    
}
.ajout_bouton {
    display: block;
    margin:auto;
}
.radio{
    display:inline-block;
    vertical-align:middle;
    margin:0;
}
.tailledec{
    width: 10px;
}
.tailleQuestion{
    width: 40px;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
.fiftycent {
   width: 100%; 
}
.fontgrisContour {
    background-color:#F5F5F5;
    padding-bottom:15px;
    border-radius:3px;
    border-width:1px;
    margin-top:20px;

} 
.indexcol{
    flex:1;
    padding: 1em;
    border:solid;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.padleft{
    padding-left:50px;
}
.padright{
    padding-right:50px;
}

#footer {

    text-align:center;
    background-color: white;
    margin:auto;
    padding:5px;
    margin-top:50px;
    border-top : 1px black solid;
}
h1 
{ 
color: #13395b; 
margin-top:20px; text-align:center
} ;
.centrimage{
        display: block;
        margin-bottom:10px;
        background-color:#FFFAFA;
        height:10px;
        width:50%;
}
th {
    color:#000000;
    background:#5389ba;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:16px;
    font-weight: 100;
    padding:5px;
    text-align:center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}
.titlepage{
    background-color:#F5F5F5;
    border-width:1px;
    border-radius:2px;
    padding-bottom:15px;
}
.bluefont{
    color: #13395b;
}
table {
 border-width:1px; 
 border-color:black;
 width:50%;
 }
 .Photoleft{
    display:inline-block;
    float:right;
    width:45%;
    padding-top:10px;
}
 .Photoright{
    display:inline-block;
    float:left;
    width:45%;
    padding-top:10px;
}